table {
  width: 100%;
  border-collapse: collapse;
  background-color: deeppink;
}

* {
  background-color: black;
}

th {
  background-color: deeppink;
  color: white;
  padding: 12px;
  text-align: left;
  font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}
