table {
  width: 100%;
  border-collapse: collapse;
  background-color: deeppink;
}

* {
  background-color: black;
}

th {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
